

<div class="main">




<!-- Header -->
<header id = "header-id" class="header">
    <ul class="menu" #menu>
      <li class="menu__item"><a class="menu__link__Left" routerLink="home" routerLinkActive="active">Home</a></li>
      <li class="menu__item"><a class="menu__link__Left" routerLink="about-me" routerLinkActive="active">About Me</a></li>
      <!-- <li class="menu__item"><a class="menu__link__Left" (click)="toContact()" routerLinkActive="active">Contact</a></li> -->
      <!-- <li class="menu__item"><a class="menu__link"></a></li>
      <li class="menu__item"><a class="menu__link"></a></li>   -->
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item">
        <a class="menu__link__Right" href='/assets/documents/DavidAOchoaResume.pdf'>
          <span class="icon">
            <i class="fa-regular fa-file"></i>
          </span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link__Right" href="mailto:dochoa8287@gmail.com">
          <span class="icon">  
          <i class="fa-solid fa-envelope"></i>
          </span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__link__Right" href="https://github.com/DavidAOchoa">
          <span class="icon">  
          <i class="fa-brands fa-github"></i>
          </span>
        </a>
      </li>
      
    </ul>
  
  </header>
</div>