<div class="main">
 
<!-- Home Section -->
<section id = "first-section-id" class="first-section">
    <div class="info">
      <h1 class="heading-1">Hi. I'm David. <br> A Software Developer</h1>       
      <p class="paragraph">
        I'm a graduate from the University of Texas at Dallas, working full time as a Software Developer for Charles Schwab in Austin, TX.
      </p>
      <a class="btn--start" href='/assets/documents/DavidAOchoaResume.pdf'>Learn More</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img #imageFirst src="../assets/images/SkullFace.jpg" alt="">
      </div>
      <div class="image-container">
        <img #imageSecond src="../assets/images/Sunglasses.jpg" alt="">
      </div>
    </div>
  </section>
</div>