<div class="main">
<!-- Home Section -->
<section class="first-section">
    <div class="info">
      <h1 class="heading-1">Hi. I'm David. A UI/UX Developer</h1>
      <p class="paragraph">
        I'm a student at the University of Texas at Dallas, and part time Barista at XO Coffee and Bistro.
      </p>
      <a class="btn btn--start">Contact Me</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img #imageFirst src="../assets/images/SkullFace.jpg" alt="">
      </div>
      <div class="image-container">
        <img #imageSecond src="../assets/images/Sunglasses.jpg" alt="">
      </div>
    </div>
  </section>
</div>