.footer {
      color: white;
      grid-column: center-start / center-end;
      grid-row: 1 / 2;
      display: grid;
      height: 120px;
      grid-template-columns: repeat(3, 1fr);
      font-family: 'PT Sans Caption', sans-serif;
  
    }