<div class="main">
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item"><a class="menu__link">Home</a></li>
      <li class="menu__item"><a class="menu__link">About Me</a></li>
      <li class="menu__item"><a class="menu__link">How it Works</a></li>
      <li class="menu__item"><a class="menu__link">Benefits</a></li>
      <li class="menu__item"><a class="menu__link">Testimonials</a></li>  
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item"><a class="menu__link">Blog</a></li>
      <li class="menu__item"><a class="menu__link">FAQ</a></li>
    </ul>
  </header>

  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">Read estate advice for real locals</h1>
      <p class="paragraph">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
      </p>
      <a class="btn btn--start">Get Started</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img #imageFirst src="../assets/images/SkullFace.jpg" alt="">
      </div>
      <div class="image-container">
        <img #imageSecond src="../assets/images/Sunglasses.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">About Us</h4>
    <h1 class="heading-1" id="buy">buying a home doesn't have to be mystery</h1>
    <div class="info-1">
      <div class="div info-1__text">
        <span class="quote">
          "
        </span>
        <h2 class="heading-3">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        </h2>
        <p class="paragraph">
          "totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
        </p>
        <a class="btn__learn">Learn More</a>
      </div>
      <div class="info-1__visual">
        <img src="../assets/images/KVonnegut.jpg" alt="">
      </div>
    </div>
  </section>
</div>