<div class="main">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">

  <!-- Header -->
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item"><a class="menu__link">Home</a></li>
      <li class="menu__item"><a class="menu__link">About Me</a></li>
      <li class="menu__item"><a class="menu__link">Contact</a></li>
      <!-- <li class="menu__item"><a class="menu__link"></a></li>
      <li class="menu__item"><a class="menu__link"></a></li>   -->
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item"><a class="menu__link">Resume</a></li>
      <li class="menu__item"><a class="menu__link">GitHub</a></li>
    </ul>
  </header>

  <!-- Home Section -->
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">Hi. I'm David. A UI/UX Developer</h1>
      <p class="paragraph">
        I'm a student at the univeristy of Texas at Dallas, and part time Barista at XO Coffee and Bistro.
      </p>
      <a class="btn btn--start">Contact Me</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img #imageFirst src="../assets/images/SkullFace.jpg" alt="">
      </div>
      <div class="image-container">
        <img #imageSecond src="../assets/images/Sunglasses.jpg" alt="">
      </div>
    </div>
  </section>

<!-- About-Me -->
  <section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">About Me</h4>
    <h1 class="heading-1" id="buy">Some Quote Here</h1>
    <div class="info-1">
      <div class="div info-1__text">
        <span class="quote">
          
        </span>
        <h2 class="heading-3">
          Hello, I’m David. I’m originally from Houston, and I am currently studying at UT Dallas. These days I spend my time
          studying, designing, and working at a local coffee shop. Outside of the workspace, you’ll often find me at record stores,
          at home playing guitar or exploring the Dallas area. I have a passion for UI/UX design and all things coffee related.
        </h2>
        <!-- <p class="paragraph">
          "totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
        </p> -->
        <a class="btn__learn">Learn More</a>
      </div>
      <div class="info-1__visual">
        <img src="../assets/images/KVonnegut.jpg" alt="">
      </div>
    </div>
  </section>
</div>