<div class="main">
    <div class="section-left">
        <div class="box"></div>
          
          
          <h1 class="heading-1" id="buy">Carton</h1>
          
          <div class="info-1">
            <div class="div info-1__text">
              <span class="quote"></span>
              <h1 class="quote"></h1>
              <h2 id="aboutText" class="heading-3">
                Carton is a web app that helps users track their kitchen inventory and 
                displays analytics to manage food budget and reduce food waste. With 
                eatures such as a smart grocery list and data on item usage, frequency 
                of purchase, cost, and shelf life, Carton saves users time, money, and 
                food by preventing food poisoning and minimizing food waste.
              </h2>
              <a class="btn__learn" href="https://github.com/acm-projects/carton/tree/adhamBranch1">Learn More</a>
            </div>
            <div class="info-1__visual">
              <img src="../assets/images/Carton.PNG" alt="">
            </div>
          </div>
      </div>
  </div>
  
  
  