<div class="main">
    <div class="section-left">
        <div class="box"></div>
          
          
          <h1 class="heading-1" id="buy">Carton</h1>
          
          <div class="info-1">
            <div class="div info-1__text">
              <span class="quote"></span>
              <h1 class="quote"></h1>
              <h2 id="aboutText" class="heading-3">
                Web app that keeps track of all food in your kitchen and displays analytics 
                to help you manage your budget and waste less food. Carton is a smart grocery 
                list that will save you money, save you time, and save you food poisoning by 
                keeping track of the food in your kitchen and various analytics such as how 
                much you use of a certain item, how often you have to buy it, 
                how much you spend, and how long a certain item is good for.
              </h2>
              <a class="btn__learn" href="https://github.com/acm-projects/carton/tree/adhamBranch1">Learn More</a>
            </div>
            <div class="info-1__visual">
              <img src="../assets/images/Carton.PNG" alt="">
            </div>
          </div>
      </div>
  </div>
  
  
  