 <div class="main">
    <section class="section-right" #secondSection>
        <div class="box"></div>
       
        <h1 class="heading-1" id="buy">Gemini</h1>
        <div class="info-1">
          <div class="div info-1__text">
            <span class="quote">
              
            </span>
            <h2 id="aboutText" class="heading-3">
              Find the designer-brand styles and looks you like but without the 
              expensive price tag that often comes with them.
            </h2>
            <a class="btn__learn" href="https://github.com/acm-projects/Gemini">Learn More</a>
          </div>
          <div class="info-1__visual">
            <img src="../assets/images/Gemini.PNG" alt="">
          </div>
        </div>
      </section>
</div>