
<div class="main">
<!-- Header -->
<header class="header">
    <ul class="menu" #menu>
      <li class="menu__item"><a class="menu__link">Home</a></li>
      <li class="menu__item"><a class="menu__link">About Me</a></li>
      <li class="menu__item"><a class="menu__link">Contact</a></li>
      <!-- <li class="menu__item"><a class="menu__link"></a></li>
      <li class="menu__item"><a class="menu__link"></a></li>   -->
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item"><a class="menu__link">Resume</a></li>
      <li class="menu__item"><a class="menu__link">GitHub</a></li>
    </ul>
  </header>
</div>