<div class="main">
<!-- About-Me -->
<section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">About Me</h4>
    <h1 class="heading-1" id="buy">"To practice any art, no matter how well or badly, 
      is a way to make your soul grow. So do it."</h1>
    <h4 class="kurtHeader-4">- Kurt Vonnegut</h4>
    <div class="info-1">
      <div class="div info-1__text">
        <span class="quote">
          
        </span>
        <h2 class="heading-3">
          Hello, I’m David. I’m originally from Houston, and I am currently studying at UT Dallas. These days I spend my time
          studying, designing, and working at a local coffee shop. Outside of the workspace, you’ll often find me at record stores,
          at home playing guitar or exploring the Dallas area. I have a passion for UI/UX design and all things coffee related.
        </h2>
        <!-- <p class="paragraph">
          "totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
        </p> -->
        <a class="btn__learn">Learn More</a>
      </div>
      <div class="info-1__visual">
        <img src="../assets/images/KVonnegut.jpg" alt="">
      </div>
    </div>
  </section>
</div>