<div class="main">
  <section class="section-left" #sectionLeft>
      <div class="box"></div>
        <h4 class="heading-4" id="about">Projects</h4>
        
        <h1 class="heading-1" id="buy">French Press</h1>
        
        <div class="info-1">
          <div class="div info-1__text">
            <span class="quote"></span>
            <h1 class="quote"></h1>
            <h2 id="aboutText" class="heading-3">
              Mobile app that opens new avenues to coffee through a focus on 
              local vendors and the variety of brewing techniques. design and
              all things coffee related.
            </h2>
            <a class="btn__learn" href="https://github.com/acm-projects/French-Press">Learn More</a>
          </div>
          <div class="info-1__visual">
            <img src="../assets/images/FrenchPress.PNG" alt="">
          </div>
        </div>
  </section>
</div>


