 <div class="main">
    <section class="section-right" #secondSection>
        <div class="box"></div>
       
        <h1 class="heading-1" id="buy">Gemini</h1>
        <div class="info-1">
          <div class="div info-1__text">
            <span class="quote">
              
            </span>
            <h2 id="aboutText" class="heading-3">
              Gemini is a mobile app that uses website scanning technology to help users discover 
              designer-style items at an affordable price. The app finds look-alikes of expensive 
              designer items and offers different tiers for various price ranges, allowing users 
              to choose how much they want to spend. For example, if a designer shoe costs $400, 
              Gemini can help find a look alike for as low as $40 or $100. With Gemini, users 
              can enjoy the styles they love without breaking the bank.
            </h2>
            <a class="btn__learn" href="https://github.com/acm-projects/Gemini">Learn More</a>
          </div>
          <div class="info-1__visual">
            <img src="../assets/images/Gemini.PNG" alt="">
          </div>
        </div>
      </section>
</div>